@import '../App.scss';

.home{
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: black;
  color: white;

  header{
    font-family: $title5;
  }

    .nav{
        display: flex;
        margin: 2.5rem auto;
        width: 100%;
        background: $green1;
        font-family: $body1;
        div{
          margin: 1rem auto;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .navtitle{
      text-decoration: none;
      color: black;
    }
    