.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

$green5: #1F5640;
$green4: #00DEA3;
$green3: #169A3E;
$green2: #3BA76E;
$green1: #62CD7E;



